# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

packages/

*.bak
*.dll
*.lock
*.orig
*.pdb
*.suo
*.user
*.log

.sass-cache

SuperWebApp/App_Browsers
SuperWebApp/App_Data
SuperWebApp/Global.asax
SuperWebApp/Install
SuperWebApp/Media
SuperWebApp/Umbraco
SuperWebApp/Umbraco_Client
SuperWebApp/default.aspx
SuperWebApp/frontend/node_modules/
SuperWebApp/localappsettings.config
SuperWebApp/uSync.Archive

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

tags

node_modules/
